html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-white);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.devider {
    width: 100%;
    height: 1px;
    background: var(--color-gray100);
    max-width: 1320px;
}

header {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

main,
footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
    position: absolute;
    /* top: -124px; */
    left: 0;
}

.frame343 {
    width: 100%;
    height: 1082px;
    /* background: var(--color-white); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}
/* ============================= Navigation ============================= */
.navigation {
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding-block: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
}

.navigation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.navigation-logo-favicon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-uiux500);
    padding: 16px;
    box-shadow: 0px 8px 24px 0px #8A43FF3D;
    border-radius: 8px;
}

.navigation-logo-favicon img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.navigation-logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.navigation-logo-content p {
    font: var(--uiux-body-xl-600);
    color: var(--color-gray900);
    line-height: 24px;
}

.navigation-logo-content h1 {
    font: var(--uiux-body-small-400);
    color: var(--color-gray400);
    line-height: 14px;
    text-transform: uppercase;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navigation-menu a {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux-gray);
    line-height: 24px;
}

.navigation-menu a.is-active {
    font: var(--uiux-h6);
    color: var(--color-uiux-dark);
    line-height: 24px;
}

.navigation-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--color-white);
    padding: 0px 24px;
    border-radius: 8px;
    border: 2px solid var(--color-uiux500);
    color: var(--color-uiux500);
}

.navigation-menu-item span {
    font: var(--uiux-cap4);
    color: var(--color-uiux500);
    line-height: 56px;
}

.frame343-content {
    width: 100%;
    /* background: var(--color-white); */
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 320px;
    left: 300px;
    gap: 32px;
    flex-direction: column;
    align-items: start;
    max-width: 536px;
    height: fit-content;
    justify-content: start;
}

.frame343-content h2 {
    font-family: var(--font-uiux);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--color-gray900);
    line-height: 72px;
    text-wrap: nowrap;
}

.frame343-content h2 span {
    font-family: var(--font-uiux);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--color-uiux500);
    text-decoration: underline;
}

.frame343-content p {
    font: var(--uiux-body-xl-300);
    color: var(--color-uiux-dark);
    line-height: 28px;
}

.frame343-content-buttons {
    display: flex;
    gap: 24px;
    height: 72px;
    width: 466px;
}

.frame343-content-buttons-item-primary {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background: var(--color-uiux500);
    padding: 0px 36px;
    border-radius: 10px;
    border: 2px solid var(--color-uiux500);
    color: var(--color-white);
    box-shadow: 0px 12px 48px 0px #85FFBD7A;
}

.frame343-content-buttons-item-secondary {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background: var(--color-uiux50);
    padding: 0px 36px;
    border-radius: 10px;
    border: 2px solid var(--color-uiux50);
    color: var(--color-uiux500);
}

.frame343-content-buttons-item-primary span {
    font: var(--uiux-cap4);
    color: var(--color-white);
    line-height: 56px;
}

.frame343-content-buttons-item-secondary span {
    font: var(--uiux-cap4);
    color: var(--color-uiux500);
    line-height: 56px;
}

.frame343-content-buttons-item-secondary img,
.frame343-content-buttons-item-primary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.frame343-companylogo {
    position: absolute;
    top: 884px;
    z-index: 2;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
    padding-block: 64px;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
}

.frame343-companylogo::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border: 4px solid var(--color-white);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;
    backdrop-filter: blur(122px);
    -webkit-backdrop-filter: blur(122px);
}

.frame343-companylogo h3 {
    font: var(--uiux-body-xxl-600);
    color: var(--color-uiux-dark);
    line-height: 32px;
    text-align: start;
}

.frame343-companylogo-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.frame343-companylogo-row li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 96px;
    border-radius: 12px;
    gap: 10px;
    padding: 16px 0px;
    background: var(--color-white);
    backdrop-filter: blur(32px);
    opacity: 0.4;
}

.frame343-companylogo-row li.is-active {
    opacity: 1;
    box-shadow: 0px 16px 48px 0px #1322381F;
}

.frame343 > img {
    width: 652px;
    height: 1086px;
    object-fit: cover;
    position: absolute;
    left: 991px;
    top: 120px;
    align-self: center;
    justify-self: center;
}

/* ============================= Recent Projects ============================= */
.recent-projects {
    width: 100%;
    height: 1108px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1F3 52%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1206px; 
    left: 0;
}

.recent-projects h2 {
    font: var(--uiux-h1);
    color: var(--color-uiux-dark);
    line-height: 56px;
    text-align: start;
    position: absolute;
    top: 124px;
}

.recent-projects-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
    position: absolute;
    top: 244px;
    left: 300px;
}

.recent-projects-row li {
    width: 536px;
    height: 604px;
    background: var(--color-white);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
    position: relative;
    z-index: 1;
}

.recent-projects-row li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 471px;
    height: 312px;
}

.recent-projects-row-item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.recent-projects-row-item-content .heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.recent-projects-row-item-content .heading span {
    font: var(--uiux-body-xs-300);
    color: #697484;
    line-height: 16px;
    text-align: start;
}

.recent-projects-row-item-content .heading h3 {
    font: var(--uiux-body-xxl-600);
    color: var(--color-uiux-dark);
    line-height: 32px;
    text-align: start;
}

.recent-projects-row-item-content .heading p {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux-gray);
    line-height: 24px;
    text-align: start;
}

.recent-projects-row-item-content .button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    background: var(--color-white);
    padding: 6px 0px;
}

.recent-projects-row-item-content .button span {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux500);
    line-height: 14px;
    text-align: start;
}

.recent-projects-row-item-content .button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.recent-projects-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 912px;
    left: 896px;
    z-index: 2;
}

.recent-projects-button-item-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    background: var(--color-white);
}

.recent-projects-button-item-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    border: 2px solid var(--color-uiux500);
    border-radius: 50%;
    background: var(--color-uiux500);
}

.recent-projects-button-item-primary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: var(--color-gray900);
}

.recent-projects-button-item-secondary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: var(--color-gray900);
}

/* ============================= About Me ============================= */
.about-me {
    width: 100%;
    height: 896px;
    background: var(--color-white);
    position: absolute;
    top: 2314px;
    left: 0;
    padding-block: 124px;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
    display: flex;
    flex-direction: row;
}

.about-me-image {
    width: 872px;
    height: 100%;
    background: var(--color-white);
    position: relative;
    z-index: 1;
    border-radius: 24px;
    overflow: visible;
    flex-shrink: 0;
}

.follow-me-social-media {
    display: flex;
    justify-content: start;
    gap: 16px;
    padding: 32px;
    position: absolute;
    top: 464px;
    left: 32px;
    z-index: 3;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    box-shadow: 0px 24px 88px 0px #1322381F;
    border: 3px solid var(--color-white);
    border-radius: 12px;
    /* width: 392px; */
}

.follow-me-social-media h2 {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux-dark);
    line-height: 24px;
    text-align: start;
}

.follow-me-social-media-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.follow-me-social-media-row li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    padding: 14px;
}

.follow-me-social-media-row li:not(.instagram) {
    background: var(--color-white);
}

.follow-me-social-media-row li.instagram {
    width: 48px;
    height: 48px;
    padding: 14px;
    box-sizing: border-box;
    background:
        radial-gradient(102.89% 102.88% at 60.65% 104.95%, rgba(140, 58, 170, 0) 64%, #8C3AAA 100%),
        radial-gradient(130.55% 130.54% at 13.29% 100.47%, #FA8F21 9%, #D82D7E 78%);
}

.follow-me-social-media-row li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.follow-me-social-media-row li.instagram img {
    width: 20px;
    height: 20px;
}

.about-me-image > .about-me-person {
    position: absolute;
    width: 872px;
    height: 773px;
    left: -112px;
    top: -125px;
    object-fit: contain;
    border-radius: 0;
    z-index: 2;
    pointer-events: none;
}

.about-me-image .bg {
    position: absolute;
    inset: 0;

    width: 648px;
    height: 648px;

    background: linear-gradient(
        180deg,
        #F3ECFF 0%,
        #FFF4ED 100%
    );

    border-radius: 24px;

    overflow: hidden;

    z-index: 1;
}

.bg-blur {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
}

/* 01 - Purple */
.bg-blur--01 {
    width: 570px;
    height: 368px;
    left: 265px;
    top: -207px;

    background: #D3B6FA;
    opacity: 0.4;
    filter: blur(74px);
}

/* 02 - Green */
.bg-blur--02 {
    width: 294px;
    height: 294px;
    left: 434px;
    top: 435px;

    background: #D5F0DB;
    opacity: 0.8;
    filter: blur(74px);
}

/* 03 - Brown / Gold */
.bg-blur--03 {
    width: 312px;
    height: 312px;
    left: -60px;
    top: 506px;

    background: #998210;
    opacity: 0.5;
    filter: blur(74px);
}

/* 04 - Yellow */
.bg-blur--04 {
    width: 478px;
    height: 478px;
    left: -355px;
    top: -154px;

    background: #FFF0A3;
    opacity: 0.4;
    filter: blur(74px);
}

.about-me-about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
    flex: 1;
    position: absolute;
    top: 232px;
    left: 1084px;
    z-index: 2;
    width: 536px;
    height: 432px;
}

.about-me-about-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.about-me-about-content h3{
    font-family: var(--font-uiux);
    font-weight: 600;
    font-size: 36px;
    color: var(--color-uiux-dark);
    line-height: 44px;
    text-align: start;
}

.about-me-about-content .content-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.about-me-about-content .content-title span:nth-child(1) {
    font: var(--uiux-body-regular-400);
    color: var(--color-resume500);
    line-height: 24px;
    text-align: start;
}

.about-me-about-content .content-title span:nth-child(2) {
    font: var(--uiux-body-regular-400);
    color: var(--color-main500);
    line-height: 24px;
    text-align: start;
}

.about-me-about-content .content-title span:nth-child(3) {

    font: var(--uiux-body-regular-400);
    color: var(--color-uiux500);
    line-height: 24px;
    text-align: start;
}

.about-me-about-paragraph {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.about-me-about-paragraph p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: start;
}

.about-me-about-button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 0px 36px;
    border-radius: 12px;
    background: var(--color-uiux500);
    box-shadow: 0px 24px 88px 0px #1322381F;
    border: 3px solid var(--color-white);
}

.about-me-about-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.about-me-about-button span {
    font: var(--uiux-body-regular-600);
    color: var(--color-white);
    line-height: 72px;
    text-align: start;
}

/* ============================= Honor & Awards ============================= */
.honor-awards {
    width: 100%;
    height: 780px;
    background: var(--color-white);
    position: absolute;
    top: 3210px;
    left: 0;
}

.honor-awards-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
    position: absolute;
    top: 124px;
    left: 300px;
}

.honor-awards-heading h2 {
    font: var(--uiux-h1);
    color: var(--color-gray900);
    line-height: 56px;
    text-align: start;
}

.honor-awards-heading p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: start;
}

.honor-awards-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    position: absolute;
    top: 346px;
    left: 300px;
}

.honor-awards-row li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
    border-radius: 12px;
    width: 424px;
    height: 312px;
    position: relative;
}

.honor-awards-row li:nth-child(2) {
    box-shadow: 0px 32px 88px rgba(138, 67, 255, 0.12);
}

.honor-awards-row li img {
    width: 164px;
    height: 168px;
    object-fit: contain;
    position: absolute;
    top: -32px;
    left: 36px;
}

.honor-awards-row-item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
    position: absolute;
    top: 168px;
    left: 36px;
}

.honor-awards-row li h3 {
    font: var(--uiux-body-xl-600);
    color: var(--color-uiux-dark);
    line-height: 28px;
    text-align: start;
}

.honor-awards-row li p {
    font: var(--uiux-body-regular-300);
    color: #424E60;
    line-height: 24px;
    text-align: start;
}

/* ============================= Services ============================= */

.services {
    width: 100%;
    height: 704px;
    background: var(--color-white);
    position: absolute;
    top: 3990px;
    left: 0;
    padding-block: 124px;
    gap: 248px;
    flex-direction: row;
    display: flex;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;

}

.services-content-heading {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 24px;
}

.services-content-heading-badge {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    background: var(--color-doctor300);
    border-radius: 4px;
    padding: 10px 16px;
}

.services-content-heading-badge img {
    width: 14px;
    height: 20px;
    object-fit: contain;
}

.services-content-heading-badge span {
    font: var(--uiux-body-small-400);
    color: var(--color-uiux-dark);
    line-height: 24px;
    text-transform: uppercase;
}

.services-content-heading h2 {
    font: var(--uiux-h1);
    color: var(--color-gray900);
    line-height: 56px;
}

.services-content-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.services-content-description p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: start;
}

.services-content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: var(--color-uiux500);
    padding: 0px 36px;
    box-shadow: 0px 12px 48px 0px #8A43FF3D;
}

.services-content-button span {
    font: var(--uiux-body-regular-500);
    color: var(--color-white);
    line-height: 72px;
}

.services-content-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.services-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    flex: 1;
    flex-direction: column;
}

.services-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 24px;
    border-radius: 16px;
    width: 536px;
    padding: 32px;
}

.services-list-item:nth-child(1) {
    box-shadow: 0px 12px 48px 0px #13223814;
}

.services-list-item:nth-child(2) {
    /* border: 4px solid var(--color-main50); */
    box-shadow: 0px 12px 48px 0px var(--color-main50);
}

.services-list-item:nth-child(3) {
    /* border: 4px solid #FFEFEF; */
    box-shadow: 0px 12px 48px 0px #FFEFEF;
}

.services-list-item img {
    width: 72x;
    height: 72px;
    object-fit: contain;
}

.services-list-item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.services-list-item-content h3 {
    font: var(--uiux-body-xl-600);
    color: var(--color-uiux-dark);
    line-height: 28px;
    text-align: start;
}

.services-list-item-content-description {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.services-list-item-content-description span {
    font: var(--uiux-body-small-300);
    color: var(--color-uiux-dark);
    line-height: 20px;
    text-align: start;
}

/* ============================= My Work Process ============================= */
.my-work-process {
    width: 100%;
    height: 716px;
    background: var(--color-white);
    position: absolute;
    top: 4694px;
    left: 0;
    padding-block: 124px;
    gap: 64px;
    flex-direction: column;
    display: flex;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
    background: linear-gradient(180deg, rgba(232, 241, 252, 0.6) 0%, rgba(232, 241, 252, 0) 100%);
}

.my-work-process-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.my-work-process-heading h2 {
    font: var(--uiux-h1);
    color: var(--color-gray900);
    line-height: 56px;
}

.my-work-process-heading p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: center;
}

.my-work-process-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.my-work-process-row-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
    border-radius: 16px;
    padding: 32px;
    background: var(--color-white);
}

.my-work-process-row-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    object-fit: contain;
    gap: 10px;
    padding: 24px;
    border-radius: 50%;
}

.my-work-process-row-item:nth-child(2) {
    box-shadow: 0px 24px 88px rgba(23, 119, 229, 0.16);
}

.my-work-process-row-item:nth-child(1) .my-work-process-row-item-image {
    box-shadow: 0px 16px 48px rgba(138, 67, 255, 0.16);
}

.my-work-process-row-item:nth-child(2) .my-work-process-row-item-image {
    background: var(--color-main500);
    box-shadow: 0px 12px 56px rgba(23, 119, 229, 0.48);
}

.my-work-process-row-item:nth-child(3) .my-work-process-row-item-image {
    box-shadow: 0px 16px 48px rgba(255, 148, 77, 0.16);
}

.my-work-process-row-item:nth-child(4) .my-work-process-row-item-image {
    box-shadow: 0px 16px 48px rgba(45, 178, 74, 0.16);
}

.my-work-process-row-item img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.my-work-process-row-item-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.my-work-process-row-item-heading h3 {
    font: var(--uiux-body-large-600);
    color: var(--color-uiux-dark);
    line-height: 24px;
    text-align: start;
}

.my-work-process-row-item-heading p {
    font: var(--uiux-body-small-300);
    color: #424E60;
    line-height: 20px;
    text-align: start;
}

/* ============================= Skill ============================= */
.skill {
    width: 100%;
    height: 800px;
    background: var(--color-white);
    position: absolute;
    top: 5410px;
    left: 0;
    padding-block: 124px;
    gap: 64px;
    flex-direction: column;
    display: flex;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
    background: linear-gradient(180deg, rgba(232, 241, 252, 0.6) 0%, rgba(232, 241, 252, 0) 100%);
    box-shadow: inset 0px 2px 0px #FFF4ED;
}

.skill-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 48px;
    top: 168px;
    left: 300px;
    position: absolute;
    z-index: 1;
    width: 536px;
}

.skill-content-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
}

.skill-content-heading h2 {
    font: var(--uiux-h1);
    color: var(--color-gray900);
    line-height: 56px;
}

.skill-content-heading p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: start;
}

.skill-content-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 36px;
    flex-direction: column;
}

.skill-content-row-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.skill-content-row-item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}

.skill-content-row-item-heading-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.skill-content-row-item-heading-content span {
    font: var(--uiux-body-large-400);
    color: var(--color-uiux-dark);
    line-height: 24px;
    text-align: start;
}

.skill-content-row-item-heading-content img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.skill-content-row-item:nth-child(1) .skill-content-row-item-heading> span {
    font: var(--uiux-body-regular-600);
    color: var(--color-uiux500);
    line-height: 24px;
    text-align: start;
}

.skill-content-row-item:nth-child(2) .skill-content-row-item-heading > span {
    font: var(--uiux-body-large-600);
    color: var(--color-main500);
    line-height: 24px;
    text-align: start;
}

.skill-content-row-item:nth-child(3) .skill-content-row-item-heading > span {
    font: var(--uiux-body-large-600);
    color: var(--color-photo500);
    line-height: 24px;
    text-align: start;
}

.skill-content-row-item:nth-child(4) .skill-content-row-item-heading > span {
    font: var(--uiux-body-large-600);
    color: var(--color-ceo500);
    line-height: 24px;
    text-align: start;
}

.progress {
    position: relative;

    width: 536px;
    height: 4px;

    background: #E9DBFC;
    border-radius: 100px;

    overflow: hidden;
}

.skill-content-row-item:nth-child(1) .progress {
    background: var(--color-uiux100);
}

.skill-content-row-item:nth-child(2) .progress {
    background: var(--color-main100);
}

.skill-content-row-item:nth-child(3) .progress {
    background: var(--color-photo100);
}

.skill-content-row-item:nth-child(4) .progress {
    background: var(--color-ceo100);
}

.progress-completed {
    position: absolute;
    left: 0;
    top: 0;

    width: var(--progress);
    height: 100%;

    background: #9249F2;
    border-radius: 100px 0 0 100px;
}

.skill-content-row-item:nth-child(1) .progress-completed {
    background: var(--color-uiux500);
}

.skill-content-row-item:nth-child(2) .progress-completed {
    background: var(--color-main500);
}

.skill-content-row-item:nth-child(3) .progress-completed {
    background: var(--color-photo500);
}

.skill-content-row-item:nth-child(4) .progress-completed {
    background: var(--color-ceo500);
}

.skill-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1084px;
    top: 140px;
    width: 536px;
    height: 100%;
    z-index: 2;
    overflow: visible;
    flex-shrink: 0;
}

.skill-image > img {
    width: 536px;
    height: 646px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    left: 0;
    top: -110px;
}

.tools-i-use {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    position: absolute;
    left: -112px;
    top: 355px;
    z-index: 3;
    border: 3px solid var(--color-white);
    border-radius: 12px;
    background: #FFFFFFB3;
    padding: 32px;
    box-shadow: 0px 24px 88px rgba(19, 34, 56, 0.08); 
    backdrop-filter: blur(16px);
}

.tools-i-use h2 {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux-dark);
    line-height: 24px;
    text-align: start;
}

.tools-i-use-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.tools-i-use-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    padding: 14px;
}

.tools-i-use-list li:not(.instagram) {
    background: var(--color-white);
}

.tools-i-use-list li.instagram {
    width: 48px;
    height: 48px;
    padding: 14px;
    box-sizing: border-box;
    background:
        radial-gradient(102.89% 102.88% at 60.65% 104.95%, rgba(140, 58, 170, 0) 64%, #8C3AAA 100%),
        radial-gradient(130.55% 130.54% at 13.29% 100.47%, #FA8F21 9%, #D82D7E 78%);
}

.tools-i-use-list li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* ============================= Skill BG ============================= */
.skill-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 536px;
    height: 536px;
    background: linear-gradient(
        180deg,
        #FFFBE8 0%,
        #FFDEDE 100%
    );
    overflow: hidden;
    clip-path: polygon(
        50.000% 0.000%,
        52.512% 2.066%,
        55.226% 0.274%,
        57.509% 2.591%,
        60.396% 1.093%,
        62.423% 3.636%,
        65.451% 2.447%,
        67.202% 5.188%,
        70.337% 4.323%,
        71.792% 7.232%,
        75.000% 6.699%,
        76.143% 9.744%,
        79.389% 9.549%,
        80.207% 12.697%,
        83.457% 12.843%,
        83.941% 16.059%,
        87.157% 16.543%,
        87.303% 19.793%,
        90.451% 20.611%,
        90.256% 23.857%,
        93.301% 25.000%,
        92.768% 28.208%,
        95.677% 29.663%,
        94.812% 32.798%,
        97.553% 34.549%,
        96.364% 37.577%,
        98.907% 39.604%,
        97.409% 42.491%,
        99.726% 44.774%,
        97.934% 47.488%,
        100.000% 50.000%,
        97.934% 52.512%,
        99.726% 55.226%,
        97.409% 57.509%,
        98.907% 60.396%,
        96.364% 62.423%,
        97.553% 65.451%,
        94.812% 67.202%,
        95.677% 70.337%,
        92.768% 71.792%,
        93.301% 75.000%,
        90.256% 76.143%,
        90.451% 79.389%,
        87.303% 80.207%,
        87.157% 83.457%,
        83.941% 83.941%,
        83.457% 87.157%,
        80.207% 87.303%,
        79.389% 90.451%,
        76.143% 90.256%,
        75.000% 93.301%,
        71.792% 92.768%,
        70.337% 95.677%,
        67.202% 94.812%,
        65.451% 97.553%,
        62.423% 96.364%,
        60.396% 98.907%,
        57.509% 97.409%,
        55.226% 99.726%,
        52.512% 97.934%,
        50.000% 100.000%,
        47.488% 97.934%,
        44.774% 99.726%,
        42.491% 97.409%,
        39.604% 98.907%,
        37.577% 96.364%,
        34.549% 97.553%,
        32.798% 94.812%,
        29.663% 95.677%,
        28.208% 92.768%,
        25.000% 93.301%,
        23.857% 90.256%,
        20.611% 90.451%,
        19.793% 87.303%,
        16.543% 87.157%,
        16.059% 83.941%,
        12.843% 83.457%,
        12.697% 80.207%,
        9.549% 79.389%,
        9.744% 76.143%,
        6.699% 75.000%,
        7.232% 71.792%,
        4.323% 70.337%,
        5.188% 67.202%,
        2.447% 65.451%,
        3.636% 62.423%,
        1.093% 60.396%,
        2.591% 57.509%,
        0.274% 55.226%,
        2.066% 52.512%,
        0.000% 50.000%,
        2.066% 47.488%,
        0.274% 44.774%,
        2.591% 42.491%,
        1.093% 39.604%,
        3.636% 37.577%,
        2.447% 34.549%,
        5.188% 32.798%,
        4.323% 29.663%,
        7.232% 28.208%,
        6.699% 25.000%,
        9.744% 23.857%,
        9.549% 20.611%,
        12.697% 19.793%,
        12.843% 16.543%,
        16.059% 16.059%,
        16.543% 12.843%,
        19.793% 12.697%,
        20.611% 9.549%,
        23.857% 9.744%,
        25.000% 6.699%,
        28.208% 7.232%,
        29.663% 4.323%,
        32.798% 5.188%,
        34.549% 2.447%,
        37.577% 3.636%,
        39.604% 1.093%,
        42.491% 2.591%,
        44.774% 0.274%,
        47.488% 2.066%
    );
}

/* Common ellipse */
.skill-bg-ellipse {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
}


/* Ellipse 15 - Yellow */
.skill-bg-ellipse--15 {
    width: 263px;
    height: 263px;

    left: 148px;
    top: -132px;

    background: #FFF0A3;
    filter: blur(74px);
}


/* Ellipse 16 - Purple */
.skill-bg-ellipse--16 {
    width: 263px;
    height: 263px;

    left: -138px;
    top: 226px;

    background: #E9DBFC;
    filter: blur(74px);
}


/* Ellipse 17 - Red */
.skill-bg-ellipse--17 {
    width: 263px;
    height: 263px;

    left: 367px;
    top: 353px;

    background: #FF9D9D;
    opacity: 0.7;
    filter: blur(74px);
}


/* Ellipse 19 - White */
.skill-bg-ellipse--19 {
    width: 124px;
    height: 124px;

    left: -36px;
    top: 206px;

    background: rgba(255, 255, 255, 0.5);
    filter: blur(24px);
}

/* ============================= Client Testimonial ============================= */
.client-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 6210px;
    width: 100%;
    height: 972px;
    padding-block: 124px;
    gap: 64px;
    background: linear-gradient(180deg, rgba(240, 241, 243, 0.6) 0%, rgba(243, 236, 255, 0.6) 100%);
}

.client-testimonial-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative
}

.client-testimonial-heading h2 {
    font: var(--uiux-h1);
    color: var(--color-uiux-dark);
    line-height: 56px;
    text-align: center;
}

.client-testimonial-heading p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-gray);
    line-height: 26px;
    text-align: center;
}

.client-testimonial-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    width: 100%;
    height: 100%;
}

.client-testimonial-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 648px;
    border-radius: 16px;
    position: absolute;
    background: var(--color-white);
}

.client-testimonial-row-item:nth-child(1) {
    left: -36px;
    top: 106px;
    opacity: 0.6;
    height: 302px;
}

.client-testimonial-row-item:nth-child(2) {
    left: 636px;
    top: 50px;
    height: 358px;
}

.client-testimonial-row-item:nth-child(3) {
    left: 1308px;
    top: 106px;
    opacity: 0.6;
    height: 302px;
}

.client-testimonial-row-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: -50px;
    left: 274px;
    border-radius: 50%;
}

.client-testimonial-row-item:nth-child(2) img {
    border: 4px solid var(--color-white);
    filter: drop-shadow(0px 16px 48px rgba(18, 95, 183, 0.32));
}

.client-testimonial-row-item p {
    font: var(--uiux-body-xl-300);
    color: var(--color-uiux-dark);
    line-height: 28px;
    text-align: center;
    width: 568px;
    top: 90px;
    left: 40px;
    position: absolute;
}

.client-testimonial-row-item .full-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.client-testimonial-row-item .full-name > span:nth-child(1) {
    font: var(--uiux-body-xl-400);
    color: var(--color-uiux-dark);
    line-height: 28px;
    text-align: left;
}

.client-testimonial-row-item .full-name > span:nth-child(2) {
    font: var(--uiux-body-small-300);
    color: #697484;
    line-height: 20px;
    text-align: left;
}

.client-testimonial-row-item .full-name .company {
    font: var(--uiux-body-small-400);
    color: var(--color-uiux-dark);
    line-height: 20px;
}

.client-testimonial-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.client-testimonial-button-item-primary,
.client-testimonial-button-item-secondary {
    background: var(--color-white);
    border-radius: 50%;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 1px solid var(--color-uiux500);
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-testimonial-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* ============================= Call to Action ============================= */
.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 7182px;
    padding: 124px 300px;
    gap: 40px;
    width: 100%;
    height: 560px;
    left: 0px;
    top: 7182px;
    overflow: hidden;
}

.call-to-action::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: url(../assets/img/image-call-to-actions.png) center / cover no-repeat;
    transform: scaleX(-1);
    pointer-events: none;
    background-position: -100px center;
}

.call-to-action::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(90deg, #132238 0%, rgba(19, 34, 56, 0.8) 43.44%, rgba(19, 34, 56, 0) 100%);
    pointer-events: none;
}

.call-to-action > * {
    position: relative;
    z-index: 1;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
}

.call-to-action-content h2 {
    font: var(--uiux-h1);
    color: var(--color-white);
    line-height: 56px;
    text-align: start;
}

.call-to-action-content p {
    font: var(--uiux-body-xxl-300);
    color: var(--color-white);
    line-height: 32px;
    text-align: start;
}

.call-to-action-button-item-primary {
    background: var(--color-doctor500);
    border-radius: 12px;
    padding: 0px 36px;
    gap: 12px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.call-to-action-button-item-primary span {
    font: var(--uiux-body-regular-500);
    color: var(--color-uiux-dark);
    line-height: 72px;
    text-align: start;
}

.call-to-action-button-item-primary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* ============================= Blog ============================= */
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 7742px;
    width: 100%;
    height: 1094px;
    padding-block: 0;
    padding-inline: 300px;
    background: linear-gradient(180deg, #F0F1F3 0%, rgba(240, 241, 243, 0) 100%);
}

.blog-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    top: 124px;
}

.blog-heading h2 {
    font: var(--uiux-h1);
    color: var(--color-uiux-dark);
    line-height: 56px;
    text-align: center;
}

.blog-heading p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: center;
}

.blog-row {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 320px;
    left: 0;
    padding-inline: 300px;
}

.blog-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 648px;
    border-radius: 16px;
    position: relative;
    background: var(--color-white);
    padding: 32px;
}

.blog-row-item.is-active {
    box-shadow: 0px 24px 64px rgba(19, 34, 56, 0.12);
}

.blog-row-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.blog-row-item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.item-content p {
    font: var(--uiux-body-small-300);
    color: #424E60;
    line-height: 20px;
    text-align: start;
}

.item-content-heading {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.item-content h3 {
    font: var(--uiux-body-xl-400);
    color: var(--color-uiux-dark);
    line-height: 28px;
    text-align: start;
}

.fun-fact {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.fun-fact-date {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.fun-fact-date img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.fun-fact-date span {
    font: var(--uiux-body-small-300);
    color: var(--color-uiux-dark);
    line-height: 20px;
}

.fun-fact-time {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.fun-fact-time img {
    width: 24px;    
    height: 24px;
    object-fit: contain;
}

.fun-fact-time span {
    font: var(--uiux-body-small-300);
    color: var(--color-uiux-dark);
    line-height: 20px;
}

.item-button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.item-button-item-primary {
    background: var(--color-white);
    border-radius: 12px;
    padding: 0px 24px;
    gap: 12px;
    border: 2px solid var(--color-uiux50);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.item-button-item-primary.is-active {
    background: var(--color-white);
    border: 2px solid var(--color-uiux500);
}

.item-button-item-primary span {
    font: var(--uiux-body-small-600);
    color: var(--color-uiux500);
    line-height: 56px;
    text-align: start;
}

.item-button-item-primary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* ============================= Contact ============================= */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 59px;
    position: absolute;
    top: 8836px;
    width: 100%;
    height: 616px;
    padding: 56px;
    box-shadow: 0px 48px 88px rgba(19, 34, 56, 0.12); 
    border-radius: 24px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.contact-info-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.contact-info-heading h2 {
    font: var(--uiux-h1);
    color: var(--color-uiux-dark);
    line-height: 56px;
    text-align: center;
}

.contact-info-heading p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: center;
}

.contact-info-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.contact-info-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.contact-info-info-item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 8px;
}

.contact-info-info-item-content span:nth-child(1) {
    font: var(--uiux-body-small-300);
    color: var(--color-uiux-dark);
    line-height: 20px;
    text-align: start;
}

.contact-info-info-item-content span:nth-child(2) {
    font: var(--uiux-body-small-300);
    color: var(--color-uiux-dark);
    line-height: 20px;
    text-align: start;
}

.contact-info-connect {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.contact-info-connect h3 {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: start;
}

.contact-info-connect-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.contact-info-connect-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contact-info-connect-list-item img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
}

.contact-form h4 {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: start;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
}

.contact-form form input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-uiux50);
}

.contact-form form textarea {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: 1px solid var(--color-uiux50);
}

.contact-form form button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-uiux50);
}

.contact-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contact-form-button-item-primary {
    background: var(--color-uiux500);
    border-radius: 8px;
    padding: 0px 24px;
    gap: 12px;
    border: 2px solid var(--color-uiux50);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-form-button-item-primary span {
    font: var(--uiux-body-small-600);
    color: var(--color-white);
    line-height: 56px;
    text-align: start;
}

.contact-form-button-item-primary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* ============================= Ellipses ============================= */
.ellipse-1 {
    width: 859px;
    height: 859px;
    background: linear-gradient(180deg, #FFF4ED 70%, #FFD4B8 100%);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 729px;
    left: -359px;
}

.ellipse-2 {
    width: 648px;
    height: 648px;
    background: var(--color-doctor500);
    opacity: 0.4;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 476px;
    left: 972px;
    filter: blur(200px);
}

.ellipse-3 {
    width: 1320px;
    height: 1320px;
    background: var(--color-uiux500);
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -481px;
    left: 1596px;
    filter: blur(200px);
}

.ellipse-5 {
    width: 528px;
    height: 528px;
    background: #FF944D;
    opacity: 0.12;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -176px;
    left: -331px;
    filter: blur(148px);
}

.ellipse-7 {
    width: 622px;
    height: 622px;
    background: var(--color-doctor300);
    opacity: 0.16;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -191px;
    left: 908px;
    filter: blur(124px);
}

.ellipse-8 {
    width: 622px;
    height: 622px;
    background: var(--color-uiux200);
    opacity: 0.12;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -102px;
    left: -681px;
    filter: blur(248px);
}

.ellipse-9 {
    width: 389px;
    height: 389px;
    background: var(--color-white);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 887px;
    left: 332px;
    filter: blur(248px);
}

.ellipse-13 {
    width: 648px;
    height: 648px;
    background: var(--color-main50);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 184px;
    left: 1772px;
    filter: blur(148px);
}

.ellipse-13-honor-awards {
    position: absolute;
    width: 648px;
    height: 648px;
    left: -472px;
    top: -164px;
    background: #EAF7ED;
    opacity: 0.8;
    filter: blur(74px);
}

.ellipse-14 {
    position: absolute;
    width: 648px;
    height: 648px;
    left: 1702px;
    top: 248px;
    background: #F4EDFE;
    opacity: 0.5;
    filter: blur(74px);
}

.ellipse-21 {
    position: absolute;
    width: 486px;
    height: 486px;
    left: 26px;
    top: -115px;
    background: #FFF4ED;
    opacity: 0.72;
    filter: blur(100px);
}

.ellipse-20 {
    position: absolute;
    width: 648px;
    height: 648px;
    left: 1704px;
    top: -113px;
    background: #FFF4ED;
    opacity: 0.72;
    filter: blur(100px);
}

.ellipse-22 {
    position: absolute;
    width: 653px;
    height: 653px;
    left: 1666px;
    top: 601px;
    background: #1777E5;
    opacity: 0.08;
    filter: blur(100px);
}

.ellipse-23 {
    position: absolute;
    width: 653px;
    height: 653px;
    left: -422px;
    top: -175px;
    background: #FF944D;
    opacity: 0.12;
    filter: blur(100px);
}

.ellipse-24 {
    /* Ellipse 24 */

    position: absolute;
    width: 357px;
    height: 357px;
    left: 157px;
    top: 1094px;

    /* Photographer/500 */
    background: #2DB24A;
    opacity: 0.12;
    filter: blur(62px);
}

.ellipse-25 {
    /* Ellipse 25 */

    position: absolute;
    width: 357px;
    height: 357px;
    left: 1666px;
    top: -101px;

    /* UI-UX Designer/500 */
    background: #9249F2;
    opacity: 0.12;
    filter: blur(62px);

}