html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-white);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.devider {
    width: 100%;
    height: 1px;
    background: var(--color-gray100);
    max-width: 1320px;
}

header {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

main,
footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
    position: absolute;
    top: -124px;
    left: 0;
}

.frame343 {
    width: 100%;
    height: 1082px;
    /* background: var(--color-white); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 124px;
    left: 0;
}
/* ============================= Navigation ============================= */
.navigation {
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding-block: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
}

.navigation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.navigation-logo-favicon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-uiux500);
    padding: 16px;
    box-shadow: 0px 8px 24px 0px #8A43FF3D;
    border-radius: 8px;
}

.navigation-logo-favicon img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.navigation-logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.navigation-logo-content p {
    font: var(--uiux-body-xl-600);
    color: var(--color-gray900);
    line-height: 24px;
}

.navigation-logo-content h1 {
    font: var(--uiux-body-small-400);
    color: var(--color-gray400);
    line-height: 14px;
    text-transform: uppercase;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navigation-menu a {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux-gray);
    line-height: 24px;
}

.navigation-menu a.is-active {
    font: var(--uiux-h6);
    color: var(--color-uiux-dark);
    line-height: 24px;
}

.navigation-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--color-white);
    padding: 0px 24px;
    border-radius: 8px;
    border: 2px solid var(--color-uiux500);
    color: var(--color-uiux500);
}

.navigation-menu-item span {
    font: var(--uiux-cap4);
    color: var(--color-uiux500);
    line-height: 56px;
}

.frame343-content {
    width: 100%;
    /* background: var(--color-white); */
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 320px;
    left: 300px;
    gap: 32px;
    flex-direction: column;
    align-items: start;
    max-width: 536px;
    height: fit-content;
    justify-content: start;
}

.frame343-content h2 {
    font-family: var(--font-uiux);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--color-gray900);
    line-height: 72px;
    text-wrap: nowrap;
}

.frame343-content h2 span {
    font-family: var(--font-uiux);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--color-uiux500);
    text-decoration: underline;
}

.frame343-content p {
    font: var(--uiux-body-xl-300);
    color: var(--color-uiux-dark);
    line-height: 28px;
}

.frame343-content-buttons {
    display: flex;
    gap: 24px;
    height: 72px;
    width: 466px;
}

.frame343-content-buttons-item-primary {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background: var(--color-uiux500);
    padding: 0px 36px;
    border-radius: 10px;
    border: 2px solid var(--color-uiux500);
    color: var(--color-white);
    box-shadow: 0px 12px 48px 0px #85FFBD7A;
}

.frame343-content-buttons-item-secondary {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background: var(--color-uiux50);
    padding: 0px 36px;
    border-radius: 10px;
    border: 2px solid var(--color-uiux50);
    color: var(--color-uiux500);
}

.frame343-content-buttons-item-primary span {
    font: var(--uiux-cap4);
    color: var(--color-white);
    line-height: 56px;
}

.frame343-content-buttons-item-secondary span {
    font: var(--uiux-cap4);
    color: var(--color-uiux500);
    line-height: 56px;
}

.frame343-content-buttons-item-secondary img,
.frame343-content-buttons-item-primary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.frame343-companylogo {
    position: absolute;
    top: 884px;
    z-index: 2;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
    padding-block: 64px;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
}

.frame343-companylogo::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border: 4px solid var(--color-white);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;
    backdrop-filter: blur(122px);
    -webkit-backdrop-filter: blur(122px);
}

.frame343-companylogo h3 {
    font: var(--uiux-body-xxl-600);
    color: var(--color-uiux-dark);
    line-height: 32px;
    text-align: start;
}

.frame343-companylogo-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.frame343-companylogo-row li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 96px;
    border-radius: 12px;
    gap: 10px;
    padding: 16px 0px;
    background: var(--color-white);
    backdrop-filter: blur(32px);
    opacity: 0.4;
}

.frame343-companylogo-row li.is-active {
    opacity: 1;
    box-shadow: 0px 16px 48px 0px #1322381F;
}

.frame343 > img {
    width: 652px;
    height: 1086px;
    object-fit: cover;
    position: absolute;
    left: 991px;
    top: 120px;
    align-self: center;
    justify-self: center;
}

/* ============================= Recent Projects ============================= */
.recent-projects {
    width: 100%;
    height: 1108px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1F3 52%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1330px; 
    left: 0;
}

.recent-projects h2 {
    font: var(--uiux-h1);
    color: var(--color-uiux-dark);
    line-height: 56px;
    text-align: start;
    position: absolute;
    top: 124px;
}

.recent-projects-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
    position: absolute;
    top: 244px;
    left: 300px;
}

.recent-projects-row li {
    width: 536px;
    height: 604px;
    background: var(--color-white);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
    position: relative;
    z-index: 1;
}

.recent-projects-row li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 471px;
    height: 312px;
}

.recent-projects-row-item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.recent-projects-row-item-content .heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.recent-projects-row-item-content .heading span {
    font: var(--uiux-body-xs-300);
    color: #697484;
    line-height: 16px;
    text-align: start;
}

.recent-projects-row-item-content .heading h3 {
    font: var(--uiux-body-xxl-600);
    color: var(--color-uiux-dark);
    line-height: 32px;
    text-align: start;
}

.recent-projects-row-item-content .heading p {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux-gray);
    line-height: 24px;
    text-align: start;
}

.recent-projects-row-item-content .button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    background: var(--color-white);
    padding: 6px 0px;
}

.recent-projects-row-item-content .button span {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux500);
    line-height: 14px;
    text-align: start;
}

.recent-projects-row-item-content .button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.recent-projects-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 912px;
    left: 896px;
    z-index: 2;
}

.recent-projects-button-item-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    background: var(--color-white);
}

.recent-projects-button-item-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    border: 2px solid var(--color-uiux500);
    border-radius: 50%;
    background: var(--color-uiux500);
}

.recent-projects-button-item-primary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: var(--color-gray900);
}

.recent-projects-button-item-secondary img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: var(--color-gray900);
}

/* ============================= About Me ============================= */
.about-me {
    width: 100%;
    height: 896px;
    background: var(--color-white);
    position: absolute;
    top: 2438px;
    left: 0;
    padding-block: 124px;
    padding-inline: clamp(16px, calc((100vw - 1320px) / 2), 300px);
    display: flex;
    flex-direction: row;
}

.about-me-image {
    width: 872px;
    height: 100%;
    background: var(--color-white);
    position: relative;
    z-index: 1;
    border-radius: 24px;
    overflow: visible;
    flex-shrink: 0;
}

.follow-me-social-media {
    display: flex;
    justify-content: start;
    gap: 16px;
    padding: 32px;
    position: absolute;
    top: 464px;
    left: 32px;
    z-index: 3;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    box-shadow: 0px 24px 88px 0px #1322381F;
    border: 3px solid var(--color-white);
    border-radius: 12px;
}

.follow-me-social-media h2 {
    font: var(--uiux-body-regular-400);
    color: var(--color-uiux-dark);
    line-height: 24px;
    text-align: start;
}

.follow-me-social-media-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.follow-me-social-media-row li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    padding: 14px;
}

.follow-me-social-media-row li:not(.instagram) {
    background: var(--color-white);
}

.follow-me-social-media-row li.instagram {
    width: 40px;
    height: 40px;
    padding: 14px;
    box-sizing: border-box;
    background:
        radial-gradient(102.89% 102.88% at 60.65% 104.95%, rgba(140, 58, 170, 0) 64%, #8C3AAA 100%),
        radial-gradient(130.55% 130.54% at 13.29% 100.47%, #FA8F21 9%, #D82D7E 78%);
}

.follow-me-social-media-row li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.follow-me-social-media-row li.instagram img {
    width: 20px;
    height: 20px;
}

.about-me-image > .about-me-person {
    position: absolute;
    width: 872px;
    height: 773px;
    left: -112px;
    top: -125px;
    object-fit: contain;
    border-radius: 0;
    z-index: 2;
    pointer-events: none;
}

.about-me-image .bg {
    position: absolute;
    inset: 0;

    width: 648px;
    height: 648px;

    background: linear-gradient(
        180deg,
        #F3ECFF 0%,
        #FFF4ED 100%
    );

    border-radius: 24px;

    overflow: hidden;

    z-index: 1;
}

.bg-blur {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
}

/* 01 - Purple */
.bg-blur--01 {
    width: 570px;
    height: 368px;
    left: 265px;
    top: -207px;

    background: #D3B6FA;
    opacity: 0.4;
    filter: blur(74px);
}

/* 02 - Green */
.bg-blur--02 {
    width: 294px;
    height: 294px;
    left: 434px;
    top: 435px;

    background: #D5F0DB;
    opacity: 0.8;
    filter: blur(74px);
}

/* 03 - Brown / Gold */
.bg-blur--03 {
    width: 312px;
    height: 312px;
    left: -60px;
    top: 506px;

    background: #998210;
    opacity: 0.5;
    filter: blur(74px);
}

/* 04 - Yellow */
.bg-blur--04 {
    width: 478px;
    height: 478px;
    left: -355px;
    top: -154px;

    background: #FFF0A3;
    opacity: 0.4;
    filter: blur(74px);
}

.about-me-about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
    flex: 1;
    position: absolute;
    top: 232px;
    left: 1084px;
    z-index: 2;
    width: 536px;
    height: 432px;
}

.about-me-about-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.about-me-about-content h3{
    font-family: var(--font-uiux);
    font-weight: 600;
    font-size: 36px;
    color: var(--color-uiux-dark);
    line-height: 44px;
    text-align: start;
}

.about-me-about-content .content-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.about-me-about-content .content-title span:nth-child(1) {
    font: var(--uiux-body-regular-400);
    color: var(--color-resume500);
    line-height: 24px;
    text-align: start;
}

.about-me-about-content .content-title span:nth-child(2) {
    font: var(--uiux-body-regular-400);
    color: var(--color-main500);
    line-height: 24px;
    text-align: start;
}

.about-me-about-content .content-title span:nth-child(3) {

    font: var(--uiux-body-regular-400);
    color: var(--color-uiux500);
    line-height: 24px;
    text-align: start;
}

.about-me-about-paragraph {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.about-me-about-paragraph p {
    font: var(--uiux-body-large-300);
    color: var(--color-uiux-dark);
    line-height: 26px;
    text-align: start;
}

.about-me-about-button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 0px 36px;
    border-radius: 12px;
    background: var(--color-uiux500);
    box-shadow: 0px 24px 88px 0px #1322381F;
    border: 3px solid var(--color-white);
}

.about-me-about-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.about-me-about-button span {
    font: var(--uiux-body-regular-600);
    color: var(--color-white);
    line-height: 72px;
    text-align: start;
}

/* ============================= Ellipses ============================= */
.ellipse-1 {
    width: 859px;
    height: 859px;
    background: linear-gradient(180deg, #FFF4ED 70%, #FFD4B8 100%);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 729px;
    left: -359px;
}

.ellipse-2 {
    width: 648px;
    height: 648px;
    background: var(--color-doctor500);
    opacity: 0.4;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 476px;
    left: 972px;
    filter: blur(200px);
}

.ellipse-3 {
    width: 1320px;
    height: 1320px;
    background: var(--color-uiux500);
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -481px;
    left: 1596px;
    filter: blur(200px);
}

.ellipse-5 {
    width: 528px;
    height: 528px;
    background: #FF944D;
    opacity: 0.12;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -176px;
    left: -331px;
    filter: blur(148px);
}

.ellipse-7 {
    width: 622px;
    height: 622px;
    background: var(--color-doctor300);
    opacity: 0.16;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -191px;
    left: 908px;
    filter: blur(124px);
}

.ellipse-8 {
    width: 622px;
    height: 622px;
    background: var(--color-uiux200);
    opacity: 0.12;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -102px;
    left: -681px;
    filter: blur(248px);
}

.ellipse-9 {
    width: 389px;
    height: 389px;
    background: var(--color-white);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 887px;
    left: 332px;
    filter: blur(248px);
}

.ellipse-13 {
    width: 648px;
    height: 648px;
    background: var(--color-main50);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 184px;
    left: 1772px;
    filter: blur(148px);
}